body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

.head-title{
    font-size: 14px;
    font-weight: 800;
    padding-bottom: 5px;
}
.box-container{
    width: 600px;
}
.box-container a{
    color: #000;
    text-decoration: none;
}
.samajikota-box{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.single-icon {
    display: flex;
    align-items: center;
    height: 30px;
}
.sabtn{
    border: 1px solid #ddd;
    padding: 9px 27px;
    align-items: center;
    border-radius: 37px;
    background: #fff;
}

.sabtn h4 {
    font-size: 14px;
    font-weight: 800;
    margin: 0;
}
.single-icon svg {
    width: 17px;
}
.single-icon h4{
    margin-left: 4px;
    font-weight: 700;
    font-size: 13px;
    text-transform: capitalize;
    margin-right: 2px;
}
.collapse{
    position: absolute;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    width: 100%;
    display: none;
    z-index: 2;
    transition: top .3s ease;
    padding: 20px;
}
.collapse::before{
    content: "";
    position: absolute;
    top: -29px;
    right: 69px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 17px solid transparent;
    border-bottom: 17px solid #fff;
}
.removeicon{
    width: 26px;
}


