body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.head-title {
    font-size: 14px;
    font-weight: 800;
    padding-bottom: 5px;
}
.box-container {
    width: 600px;
}
.box-container a {
    color: #000;
    text-decoration: none;
}
.single-icon {
    display: flex;
    align-items: center;
    height: 30px;
}
.sabtn {
    border: 1px solid #ddd;
    padding: 3px 20px;
    align-items: center;
    border-radius: 35px;
    background: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.sabtn h4 {
    font-size: 14px;
    font-weight: 800;
    margin: 0;
}
.single-icon svg {
    width: 17px;
}
.single-icon h4 {
    margin-left: 4px;
    font-weight: 700;
    font-size: 13px;
    text-transform: capitalize;
    margin-right: 2px;
}
.collapse {
    width: 100%;
    transition: transform 0.5s ease;
    padding: 20px;
    background: #fff;
    height: 600px;
    position: relative;
    display: block;
    transform: scaleY(0);
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    transform-origin: top;
}
.collapse::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 60px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 17px solid transparent;
    border-bottom: 17px solid #fff;
}
.sabtn:hover + .box-container .collapse {
    transform: scaleY(1);
}
.removeicon {
    width: 26px;
}
